*{
    margin: 0;
    padding: 0;
    }
    
    .logo img{
        width:30%;
    }
    
    .logo{
        display: inline-block;
        
    }
    ul li{
         text-decoration: none;
         display:inline-block;
         padding:10px;
         background: transparent;
    }
    .load{
        animation: slide 2s;
    
    }
    .slider{
        background-repeat:no-repeat ;
        background-size: cover ;
        background-position: center;
        width: 100%;
        height: 100vh;
        animation: slide 30s infinite;
    }
    .content{
        color: #fff;;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }
    .principal{
        left: 30%;
        top: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        letter-spacing: 5px;
        text-align: left;
    
    
    }
    .jumbotron h1{
        font-size: 70px;
        
        position: left;
    }
    .lead{
        color: #00ffff;
        font-size: 30px;
        position: left;
    
    }
    @keyframes slide {
        0%{
            background-image: url(images/picture1.png);
        }
        20%{
            background-image: url(images/picture1.png);  
        }
        20.01%{
            background-image: url(images/newpic1.jpg);
        }
        40%{
            background-image: url(images/newpic1.jpg);  
        }
        40.01%{
            background-image: url(images/picture3.png);
        }
        60%{
            background-image: url(images/picture3.png);  
        }
        60.01%{
            background-image: url(images/newpic2.png);
        }
        80%{
            background-image: url(images/newpic2.png);  
        }
        80.01%{
            background-image: url(images/newpic3.png);
        }
        100%{
            background-image: url(images/newpic3.png);  
        }
        
    }

.navbar{
    background: transparent;
}

.img{
    opacity: 0.2;
}


.forms{
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    margin: 10%;
    margin-left: 40%;
    top: 0;
    padding: 20%;
}